@import url("https://fonts.googleapis.com/css?family=$montserrat|Nunito+Sans:300,400,600,700");

$montserrat: "Montserrat", sans-serif;
$nunito: "Nunito Sans", sans-serif;

.main-menu {
  a {
    font-family: $montserrat;
    color: #000;
    font-weight: 600;
    line-height: 24px;
  }
}
.main_cont {
  h1 {
    font-family: $montserrat;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    width: 76%;
    margin-top: 19px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 30px;
    color: #787878;
    @media screen and (min-width: $medium-devices) {
      width: 52%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 39%;
      margin-right: 0;
      text-align: left;
    }
  }
}
.about_cont {
  h3 {
    margin-left: 1.5%;
    font-family: $montserrat;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    padding-top: 25px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 26px;
    color: #787878;
    @media screen and (min-width: $medium-devices) {
      width: 67%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 47%;
    }
  }
}
.skills_section {
  h3 {
    letter-spacing: 1px;
    font-family: $montserrat;
    font-size: 29px;
    font-weight: 600;
  }
  p{
      font-family: $montserrat;
      font-weight: 700;
      font-size: 12px;
      padding-top: 32px;
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 15px;
  }
}
.stat_cont {
  color: #fff;
  span {
    font-size: 47px;
    margin-right: 25px;
  }
  .card {
    .bl {
      line-height: 26px;
      p {
        &:first-child {
          font-size: 18px;
          font-family: $montserrat;
          font-weight: 600;
        }
        &:nth-child(2) {
          font-size: 12px;
          text-transform: uppercase;
          font-family: $montserrat;
          font-weight: 600;
        }
      }
    }
  }
}
.process-con {
  text-align: center;
  h3 {
    font-family: $montserrat;
    font-size: 29px;
    font-weight: 600;
    padding-top: 96px;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    padding-top: 28px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    @media screen and (min-width: $medium-devices) {
      width: 67%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 39%;
    }
  }
}
.card-prop {
  h3 {
    font-family: $montserrat;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 25px;
    letter-spacing: 1px;
  }
  p {
    &:first-child {
      font-size: 46px;
      color: #656565;
    }
    &:last-child {
      color: #b1b1b1;
      font-family: $nunito;
      padding-top: 13px;
      font-size: 15px;
      line-height: 23px;
    }
  }
}
.owl-carousel {
  text-align: center;
  color: #fff;
  p {
    &:first-child {
      font-family: $montserrat;
      font-size: 22px;
      font-weight: 600;
      @media screen and (min-width: $small-devices) {
        font-size: 25px;
        line-height: 36px;
      }
    }
    &:last-child {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 27px;
      letter-spacing: 1px;
    }
  }
}
.feedback-con {
  text-align: center;
  h3 {
    font-family: $montserrat;
    font-size: 29px;
    font-weight: 600;
    padding-top: 98px;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    padding-top: 28px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    @media screen and (min-width: $medium-devices) {
      width: 67%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 39%;
    }
  }
}
footer{
  color: #fff;
  font-family: $montserrat;
  .author{
    text-align: left;
    margin-right: 20.5%;
    h3{
      color: #efefef;
      margin-bottom: 21px;
      
    }
    p{
      color: #626262;
      line-height: 23px;
    }
  }
  .contacts{
    text-align: left;
    display: flex;
    flex-direction: column;
    a{
      color: #626262;
      line-height: 22px;
    }
  }
}
.uiux-con{
  text-align: center;
  h3 {
    margin-left: 1.5%;
    font-family: $montserrat;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    padding-top: 22px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 29px;
    color: #787878;
    @media screen and (min-width: $medium-devices) {
      width: 67%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 38%;
    }
  }
}
.portf_cont {
  color: #fff;
  h3 {
    margin-left: 1.5%;
    font-family: $montserrat;
    font-size: 39px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    padding-top: 22px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    line-height: 28px;
    @media screen and (min-width: $medium-devices) {
      width: 67%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 38%;
    }
  }
}
.biography_section{
  .biography_con{
    .text-info{
      @media screen and (min-width:$large-devices){
        margin-left: 20%;
      }
      h3 {
        margin-left: 1.5%;
        font-family: $montserrat;
        font-size: 29px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      p {
        font-family: $nunito;
        padding-top: 25px;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 25px;
        color: #787878;
        @media screen and (min-width:$large-devices){
          margin: 0;
        }

      }
    }
   
  }
}
.order-con{
  text-align: center;
  h3 {
    font-family: $montserrat;
    font-size: 29px;
    font-weight: 600;
    padding-top: 98px;
    letter-spacing: 1px;
  }
  p {
    font-family: $nunito;
    padding-top: 28px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    @media screen and (min-width: $medium-devices) {
      width: 67%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 39%;
    }
  }
  div{
    margin: 54px 0 118px 0;
  }
}
.project-con{
  h3 {
    font-family: $montserrat;
    font-size: 36px;
    font-weight: 600;
    padding-top: 102px;
    letter-spacing: 1px;
    padding-left: 14%;
  }
  p {
    font-family: $nunito;
    padding-top: 28px;
    padding-left: 14%;
    width: 69%;
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    color: #787878;
  }
  .cds{
    padding: 29px 0 110px 0;
    p{
      font-family: $nunito;
      font-size: 16px;
      line-height: 3px;
      color: #787878;
    }
    span{
      color: #000;
      font-weight: 700;
      padding-right: 10px;
    }
  }
}

.prev, .next{
  font-family: $montserrat;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  @media screen and (min-width: $medium-devices){
      
  }
  .fzi{
    font-size: 26px;
    position: absolute;
  }
}
.contact-info{
  h3{
    font-family: $montserrat;
    font-size: 29px;
    font-weight: 600;
    padding-top: 100px;
    letter-spacing: 1px;
    padding-left: 18%;
  }
  p {
    font-family: $nunito;
    padding-top: 20px;
    padding-left: 18%;
    width: 69%;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    @media screen and (min-width: $medium-devices){
      padding-top: 31px;
    }
  }
  .apef{
    padding: 6px 0 50px 0;
    @media screen and (min-width: $medium-devices){
      padding-bottom: 110px;
    }
    p,a{
      font-family: $nunito;
      font-size: 16px;
      line-height: 16px;
      color: #787878;
      @media screen and (min-width: $medium-devices){
        line-height: 4px;
      }
    }
    span{
      color: #000;
      font-weight: 700;
      padding-right: 10px;
    }
  }
}
