//@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 104px;
}

.owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff !important;
  opacity: .5;
  margin: 0 5px;
  transition: all .3s ease;

  &.active {
    opacity: 1;
    width: 10px;
    height: 10px;
  }
}
.slick-slide{
  outline: none;
}
#map{
  width: 87%;
  height: 470px;
  margin: auto;
  padding: 94px 0 99px 0;
}